body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E3E3E3;
}

.form-resetpswd {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-resetpswd .form-setup-heading,
.form-resetpwsd .checkbox {
  margin-bottom: 10px;
}
.form-resetpswd-heading {
  font: bold;
  font-size: 30px;
  padding-bottom: 30px;
}
.form-resetpswd .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-resetpswd .form-control:focus {
  z-index: 2;
}
.form-resetpswd input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.register{
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}
p{
  text-align: center;
}
