{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Setup Business
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='forgotpassword.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-resetpswd" method="POST" action="/forgotpassword">
    <div class="imgcontainer">
      <img align="middle" src="/static/img/resetpswd.png" alt="forgot password" class="avatar">
    </div>
    <!--<h2 class="form-resetpswd-heading">Forgot your password?</h2>-->
    <p>
      Enter your email address and we will send you instructions on how
      to reset your password.
    </p>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.email) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
    <div class="register">
      <p><a href="{{ url_for('signup') }}">Register an Account</a></p>
      <p><a href="{{ url_for('login') }}">Login</a></p>
    </div>
  </form>

</div> <!-- /container -->
{% endblock %}
