{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='insertrecords.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-insertrecords" method="POST" action="/login">
        <div class="imgcontainer">
          <img align="middle" src="/static/img/insert.png" alt="logo" class="avatar">
        </div>
        <!--<h2 class="form-signin-heading">Please sign in</h2>-->
        {{ form.hidden_tag()}}
        {{ wtf.form_field(form.revenue) }}
        {{ wtf.form_field(form.expenditure) }}
        {{ wtf.form_field(form.date) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->
{% endblock %}
